<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>首页</title>
    </head>
    <body>
        <h1>首页-demo2</h1>
        <a th:href="@{/request/testRequestMapping}">测试RequestMapper注解的位置（/request/testRequestMapping,已注销，@RequestMapping未标识类）</a><br/>
        <a th:href="@{/testRequestMapping}">测试RequestMapper注解的value属性--->/testRequestMapping（/testRequestMapper,使用@GetMapping）</a><br/>
        <a th:href="@{/test}">测试RequestMapper注解的value属性 --->/test（/test,已注销,/test未使用@GetMapping）</a><br/>
        <a th:href="@{/testRequestMapping}">测试RequestMapper注解的method属性 --->get（/testRequestMapping，使用@GetMapping）</a><br/>
        <form th:action="@{/testRequestMapping}" method="post">
            <input type="submit" value="测试RequestMapping注解的method属性--->post（/testRequestMapping）">
        </form>
        <form th:action="@{/testPut}" method="put">
            <input type="submit" value="测试form表单是否能够发送put或delete请求方式（/testPut,@PutMapping,已注销，from表单不支持，默认使用GET）">
        </form>
        <!--    Thymeleaf语法？==》url(params1=value1,params2=value2)==url?params1=value1&params2=value2    -->
        <a th:href="@{/testParamsAndHeaders(username='root',password='123456')}">测试RequestMapper注解的params属性（/testParamsAndHeaders）</a><br/>
        <a th:href="@{/testAnt12}">测试RequestMapper可以匹配Ant风格的路径--->?（/testAnt1?）</a><br/>
        <a th:href="@{/testAnt234}">测试RequestMapper可以匹配Ant风格的路径--->*（/testAnt2*）</a><br/>
        <a th:href="@{/abc/testAnt3}">测试RequestMapper可以匹配Ant风格的路径--->**（/abc/testAnt3）（/testAnt3也可以使用）</a><br/>
        <a th:href="@{/testPath/root/123456}">测试RequestMapper支持路径中的占位符--->（/testPath/{id}/{username}；/testPath和/teatPath/和/testPath/root和/teatPath/root/都会报错404）</a><br/>
    </body>
</html>