<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>测试请求参数</title>
    </head>
    <body>
        <h1>测试请求参数-demo2</h1>
        <a th:href="@{/testServletAPI(username='root',password=123456)}">测试使用servletAPI获取请求参数</a><br>
        <a th:href="@{/testParam(username='root',password=123456)}">测试使用控制器的形参获取请求参数</a><br>
        <form th:action="@{/testParam}" method="get">
            用户名：<input type="text" name="user_name"><br>
            密码：<input type="password" name="password"><br>
            爱好：<input type="checkbox" name="hobby" value="C++">C++
                 <input type="checkbox" name="hobby" value="JAVA基础编程">JAVA基础编程
                 <input type="checkbox" name="hobby" value="SSM框架">SSM框架<br>
            <input type="submit" value="测试使用控制器的形参获取请求参数">
        </form>
        <form th:action="@{/testPOJO}" method="post">
            用户名：<input type="text" name="name"><br>
            密码：<input type="password" name="password"><br>
            性别：<input type="radio" name="gender" value="男">男<input type="radio" name="gender" value="女">女<br>
            地址：<input type="text" name="address"><br>
            电话：<input type="text" name="phone"><br>
            <input type="submit" value="使用POJO接收请求参数">
        </form>
    </body>
</html>