<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sakanal.MyBatis.C_Mapper.mapper.DepartmentMapper">
    <select id="getDepartmentById" resultType="com.sakanal.MyBatis.C_Mapper.bean.Department">
        select id,department_name name from department where id=#{id}
    </select>

    <!--collection嵌套结果集的方式，定义关联的集合类型元素的封装规则-->
    <!--嵌套结果集的方式，使用collection标签定义关联的集合类型的属性封装规则-->
    <resultMap id="MyDepartment" type="com.sakanal.MyBatis.C_Mapper.bean.Department">
        <id column="dept_id" property="id"/>
        <result column="department_name" property="name"/>
        <!--    collection：定义关联的集合类型的属性的封装规则    -->
        <!--    ofType：指定集合里面元素的类型    -->
        <collection property="userList" ofType="com.sakanal.MyBatis.C_Mapper.bean.User">
            <!--    定义这个集合中元素的封装规则        -->
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="password" property="password"/>
            <result column="address" property="address"/>
            <result column="phone" property="phone"/>
        </collection>
    </resultMap>
    <select id="getDepartmentByIdPlus" resultMap="MyDepartment">
        select department.id dept_id,department.department_name,
               user.id,user.name,user.password,user.address,user.phone
        from department left join `user`
            on department.id=user.department_id
        where department_id=#{id}
    </select>

    
    
    <resultMap id="MyDeptStep" type="com.sakanal.MyBatis.C_Mapper.bean.Department">
        <id column="id" property="id"/>
        <result column="department_name" property="name"/>
        <collection property="userList"
                    select="com.sakanal.MyBatis.C_Mapper.mapper.UserMapperPlus.getUserByDeptId"
                    column="{department_id=id}"
                    fetchType="eager">
        </collection>
    </resultMap>
    <select id="getDepartmentByIdStep" resultMap="MyDeptStep">
        select id,department_name name from department where id=#{id}
    </select>
    <!--
        扩展：多列的值传递过去：
            将多列的值封装map传递过去
            column="{key1=column1,key2=column2}"
        fetchType="lazy" 表示延迟加载
                  "eager"表示立即加载（无论全局配置中是否设置了延迟加载）
    -->
</mapper>