<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd ">

    <!--Spring的配置文件，主要配置和业务逻辑有关的-->
    <!--扫描带注解的bean包：@Component，@Repository，@Service，@Controller-->
    <context:component-scan base-package="com.sakanal.mvc.demo3">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!--导入数据库包-->
    <context:property-placeholder location="classpath:demo3/jdbc.properties"/>
    <!--加载连接池-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--整合mybatis-->
    <!--加载sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--指定数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!--mapperLocations：所有sql映射文件所在的位置 -->
        <property name="mapperLocations" value="classpath:demo3/mapper/UserMapper.xml"/>
        <!--获取mybatis-config.xml-->
        <property name="configLocation" value="classpath:demo3/mybatis-config.xml"/>
    </bean>

    <!--自动的扫描所有的mapper的实现并加入到ioc容器中 -->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- basePackage:指定包下所有的mapper接口实现自动扫描并加入到ioc容器中 -->
        <property name="basePackage" value="com.sakanal.mvc.demo3.dao"/>
    </bean>
</beans>