<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>修改用户</title>
    </head>
    <body>
        <p th:if="${user==null}">user数据为空</p>
        <form th:action="@{/user}" method="post" th:if="${user!=null}">
            <input type="hidden" name="_method" value="put">
            ID:<input type="text" name="id" th:value="${user.id}"><br>
            用户名：<input type="text" name="name" th:value="${user.name}"><br>
            密码：<input type="password" name="password" th:value="${user.password}"><br>
            性别：<input type="radio" name="gender" value="1" th:field="${user.gender}">男<input type="radio" name="gender" value="0" th:field="${user.gender}">女<br>
            地址：<input type="text" name="address" th:value="${user.address}"><br>
            电话：<input type="text" name="phone" th:value="${user.phone}"><br>
            角色ID:<input type="text" name="department_id" th:value="${user.department_id}"><br>
            <input type="submit" value="修改用户">
        </form>
    </body>
</html>