<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>test_REST</title>
    </head>
    <body>
        <h1>test_REST-demo3</h1><br>
        <a th:href="@{/user}">查询所有用户</a><br>
        <a th:href="@{/user/1}">根据id查询用户</a><br>
        <form th:action="@{/user}" method="post">
            用户名：<input type="text" name="name"><br>
            密码：<input type="password" name="password"><br>
            <input type="submit" value="添加用户">
        </form><br>
        <form th:action="@{/user/2}" method="post">
            <input type="hidden" name="_method" value="delete">
            用户名：<input type="text" name="name"><br>
            密码：<input type="password" name="password"><br>
            <input type="submit" value="删除用户">
        </form><br>
        <form th:action="@{/user}" method="post">
            <input type="hidden" name="_method" value="put">
            用户名：<input type="text" name="name"><br>
            密码：<input type="password" name="password"><br>
            <input type="submit" value="修改用户">
        </form><br>
    </body>
</html>